* {
    margin: 0;
    padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* CSS variabler */
:root {
    --main-bg-color: white;
    --header-footer: #303333;
    --header-footer-text-color: white;
    --main--text--color: black;
    --headline: 'Bebas Neue', cursive; 
    --main-text: 'Open Sans', sans-serif;
    --banner-bg-color: #efefef;
    --text-color: black;
    
    } 
    
/* om levering*/

.om levering {
    
    background-color: var(--banner-bg-color);
    font-family: var(--headline);
    
}
/*banner*/

.banner {
    background-image: url(../image/Baggrundsbillede%20banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;;
    
}

.overskrift {
    
    position: relative;
    width: 600px;
    left: 420px;
}

.banner-text {
    
    text-align: ceter;
    position: absolute;
        
    
}

.fars-dag-information {
    color: var(--header-footer-text-color);
    font-family: var(--main-text);
    margin-left: 330px;
    margin-top: -170px;
    font-size: 50px;
    
    
    
}

.banner-text button {
    background-color: var(--main-bg-color);
    border: none;
    color: var(--text-color);
    font-family: var(--main-text);
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    position: relative;
    left: 630px;
    top: 70px;
    
  }

.linje {
    
    width: 1395px;
    border-top: 1px solid #afafaf;
    margin-left: 20px;
    
}

/* bestsellers */
#bestsellers {
    position: relative;
    font-family: var(--main-text);
    font-size: 60px;
    line-height: 1.5;
    text-align: center;
}

#minebilleder {
            display: flex; /*or inline-flex*/
            position: relative;
           flex-direction: row; 
    flex-wrap: wrap;
    
        }

    .lilla {
        width: 280px;
        margin-top: 60px;
        margin-left: 100px;
        
    }
    
    .orange {
        width: 290px;
        margin-left: 160px;
        margin-top: -350px;
    
       
    }
    
    .gul {
        width: 260px;
        margin-left: 1000px;
        margin-top: -455px;
        float: left;
        

     }








         
      


        
 