* {
    margin: 0;
    padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* CSS variabler */
:root {
    --main-bg-color: white;
    --header-footer: #303333;
    --header-footer-text-color: white;
    --main--text--color: black;
    --headline: 'Bebas Neue', cursive; 
    --main-text: 'Open Sans', sans-serif;
    --banner-bg-color: #efefef;
    --text-color: black;
    
    } 
/*banner*/
.banner {
    background-image: url(../image/Baggrundsbillede%20banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    margin-top: -30px;
}

.overskrift {
    position: relative;
    width: 50px;
    margin-left: 20px
}

.banner-text {
    text-align: center;
    position: relative; 
    top: 30px;
}

.fars-dag-information {
    color: var(--header-footer-text-color);
    font-family: var(--main-text);
    margin-left: 5px;
    margin-top: 50px;
    font-size: 24px;
    text-align: center;
}

.banner-text button {
    background-color: var(--main-bg-color);
    border: none;
    color: var(--text-color);
    font-family: var(--main-text);
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: relative;
    top: 10px;
    
  }

.linje {
    width: 100%;
    border-top: 1px solid #afafaf;
}

/* bestsellers */
#bestsellers {
    font-family: var(--main-text);
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

    .lilla {
    width: 250px;
    margin-left: 60px;    
    }
    
    .orange {
        width: 250px;
        margin-left: 60px;  
    }
    
    .gul {
        width: 250px;
        margin-left: 60px;  
     }

/* Tablet */
@media only screen and (min-width: 768px) {
    .banner {
        height: 350px;
    }
    
    .fars-dag-information {
    font-size: 36px;
    }
    
    .banner-text {
        top: 80px;
    }
    
    .banner-text button {
        padding: 12px 20px;
        font-size: 26px;
        top: 26px;
    }
    
    #minebilleder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    
    .lilla {
    width: 250px;
    margin-left: 0px;    
    }
    
    .orange {
        width: 250px;
        margin-left: 0px;  
    }
    
    .gul {
        width: 230px;
        margin-left: 0px;  
     }
}

/* Desktop */
@media only screen and (min-width: 922px) {
    .banner {
        height: 550px;
        margin-top: 20px;
    }
    
    .fars-dag-information {
    font-size: 55px;
    }
    
    .banner-text {
        top: 150px;
        margin: 20px 90px;
    }
    
    .banner-text button {
        padding: 16px 26px;
        font-size: 36px;
    }
    
    #bestsellers {
        font-size: 50px;
    }
    
    .lilla {
    width: 350px;
    margin-left: 80px;    
    }
    
    .orange {
        width: 350px;
        margin-left: 80px;  
    }
    
    .gul {
        width: 330px;
        margin-left: 80px;  
     }

}







         
      


        
 