* {
    margin: 0;
    padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* CSS variabler */
:root {
    --main-bg-color: white;
    --header-footer: #303333;
    --header-footer-text-color: white;
    --main--text--color: black;
    --headline: 'Bebas Neue', cursive; 
    --main-text: 'Open Sans', sans-serif;
    --banner-bg-color: #efefef;
    
    }

    /* Header */
.header {
    background-color: var(--header-footer);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
        
    }

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--header-footer);
}

.header li a {
    color: var(--header-footer-text-color);
    font-family: var(--headline);
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 28px;
}

.header li a:hover {
    background-color: #939696;
}


.header .logo {
    display: block;
    float: left;
    padding: 20px 20px;
    height: 25px;
}

/* Menu */
.header .menu {
    clear: both;
    max-height: 0;
}

/* Menuikon */
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 2em;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 2em;
}

.header .menu-icon .navicon:before {
    top: 6px;
}

.header .menu-icon .navicon:after {
    top: -6px;
}

/* Menuknap */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

#logo {
    width: 90px;
    height: auto;
    
}

main {
    
    position: relative;
    top: 67px;
}

main h1 {
    
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    font-family: var(--main-text);
    
}

    /* Footer */
.h1 {
    font-family: var(--headline);
    font-size: 30px;
}

.footer {
    bottom: 0px;
    width: 100%;
    background: var(--header-footer);
    padding: 10px 20px;
}

.footer li a {
    text-decoration: none;
    color: var(--header-footer-text-color);
}

/* Venstre kolonne */
.info-icon img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 4px;
}

.info-icon li {
    font-family: var(--main-text);
    line-height: 1.5;
    font-size: 18px;
    list-style-type: none;
}

.social-icon img {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.social-icon li {
    display: inline-block;
}

/* Midter kolonne */
.shop {
    font-family: var(--main-text);
    line-height: 1.7;
    font-size: 18px;
    list-style-type: none;
}

/* Højre kolonne */
.tilmelding {
    font-family: var(--main-text);
    line-height: 1.7;
    font-size: 18px;
    list-style-type: none;
}
         
 .container {
  padding: 20px;
}
         
input[type=text], input[type=submit] {
  width: 16%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}         
         
input[type=checkbox] {
  margin-top: 16px;
}

input[type=tilmeld] {
  background-color: white;
  color: black;
  border: none;
}

input[type=tilmeld]:hover {
  opacity: 0.8;
}  


